body{
    background-color: lightslategray;
}

.title {
    text-align: center;
    color:lemonchiffon;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    gap: 100px;
    flex: 1;
    min-width: 600px;
}

.main-container {
    flex-basis: 600px;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px 20px 40px 30px;
}

.container img {
    float: left;
    border-radius: 5px;
}

.title-container {
    text-align: center;
    color:darkslateblue;
    font-size: 20px;
}

.info-container{
    text-align: center;
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 30px;
}